
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Forum&display=swap');

/* ROOT */
:root{
  /* COLORS */
  --L-GOLD:hsla(38, 61%, 73%, 0.77);
  --GOLD: hsl(38, 61%, 73%);
  --GREY: hsla(30, 3%, 34% 1);
  --SILVER: hsla(0, 0%, 65%, 1);
  --SM0KY-BLACK-1:  hsla(40, 12%, 5%, 1);
  --SM0KY-BLACK-2:  hsla(30, 8%, 5%, 1);
  --SM0KY-BLACK-3: hsla(0, 3%, 7%, 1);
  --WHITE: hsl(0, 0%, 100%);
  --EERIE-BLACK: hsla(180, 2%, 8%, 1);

  /* CIRCLE SIZES */
  --CIRCLE-NORMAL: 100px;
  --CIRCLE-L-NORMAL: 110px;

  /* FONT SIZE */
  --FS-S: 1.2rem;
  --FS-M: 1.4rem;
  --FS-DeskM: 1.7rem;
  --FS-MM: 2.1rem;
  --FS-L: 2.4rem;
  --FS-XL: 2.8rem;
  --FS-M-XL: 3.4rem;
  --FS-XXL: 3.9rem;

  /* FONT FAMILY*/
  --FF-FORUM: 'Forum', cursive;
  --FF-DM_S: 'DM Sans', sans-serif;

  /*  PADDING */
  --RES-PAD: 1.2rem 2.9rem;
  /*  --RES-PAD: 1.3rem 2.7vw; */

  /* GOLDEN BORDER */
  --G-BORDER: 2px solid var(--GOLD);
  --G-BORDER-SLIM: 1px inset var(--GOLD);
  --W-BORDER-SLIM: 2px solid var(--WHITE);

  /* HR */
   --HR: #cccccc64;
}



/* GENERAL STYLING */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 66.5%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ----custom scroll bar */
::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track{
  background:var(--EERIE-BLACK);
}
::-webkit-scrollbar-thumb{
  background: var(--GOLD);
}


body{
font-size: var(--FS-S);
font-family: var(--FF-DM_S);
color: var(--WHITE);
}

img,
ion-icon,
textarea,
button,
input{ display: block; }


li{ list-style: none; }

a{
  text-decoration: none;
  color: inherit;
  /* display: block; */
}

button{
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

input{
  background: none;
  border: none;
  outline: none;
}


/* PRELOADER
.preloader{
  position: absolute;
  background-color: var(--GOLD);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
 /* z-index: 1; 
 transition: opacity 1s ease-in-out;
 overflow: hidden;
}

.preloader-circle{
  width: var(--CIRCLE-L-NORMAL);
  height: var(--CIRCLE-L-NORMAL);
  border-radius: 50%;
  background-color: var(--GOLD);
 border: var(--WHITE) solid 2px;
 border-top: var(--SM0KY-BLACK-1) solid 2px;
 animation: rollingCircle .7s linear infinite;
}

.preloader-text{
  font-size: calc(2rem + 3vw);
  color: transparent;
  -webkit-text-stroke: 0.5px var(--EERIE-BLACK); /*Although the text-color is invisible, this property carves out the texts-from its invisibility
   letter-spacing: 15px;
   text-transform: uppercase;
  font-family:var(--FF-DM_S) ;
   -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: fadingText 2s ease infinite;
  background-size: 500%; 
} */


/* HERO PAGE */
.landingPage{
  position: relative;
 /* top: -1000px; */
}

.loaded{
  animation: landingPage 1s linear forwards;
}

.heroPage{
  position: relative;
  height: 100vh;
  width: 100%;
}

.heroPage-Img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100vh;
transition: animation 300ms ease;
overflow: hidden;
}

.heroPage-Img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scale(1.15); 
  animation: smooth 7s linear infinite;
}

.heroPage-Texts{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
padding: 2rem;
text-align: center;
gap: 1.3rem;
overflow: hidden;
transition: animation 300ms ease;
}

.heroTexts--heading{
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--GOLD);
  font-size: var(--FS-M);
}

.heroTexts--heading::after{
content: url('../images/separator.svg');
display: block;
width: 120px;
margin-block-start: 15px;
margin-inline: auto;
}

.heroTexts--heading-anim::after{
  animation: text 7s linear infinite;
}

.heroTexts-btn{
  margin-inline: auto;
}

.btnAnim{
  padding: var(--RES-PAD);
  text-transform: uppercase;
  font-family: inherit;
  letter-spacing: 2px;
  border: var(--G-BORDER);
  color: var(--GOLD);
  font-size: var(--FS-S);
}

.heroTexts--cursiveTexts{
  font-family: var(--FF-FORUM);
  text-transform: capitalize;
  letter-spacing: 3px;
}

.heroTexts--normTexts{
  letter-spacing: 1px;
}

.heroTexts--cursiveTexts-FS{font-size: var(--FS-L);}

.text-anim{
  animation: text 7s linear infinite;
}


/* NAV BAR LINKS */
/* nav bar links heading */
.navBar-links{
  position: absolute;
  background-color: var(--SM0KY-BLACK-1);
  padding: 2rem 1.5rem;
 z-index: 2;
  width: 100%;
  height: 100vh;
  left: -1000px;
  transition: left 500ms ease-in-out;
  }
  
  .slidingNav{
    left: 0px;
  }


  .navBar-links_heading{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .navBar-links_heading--close-btn{
    align-self: flex-end;
  }
  
  .navBar-links_heading--close-btn ion-icon{
    border: var(--W-BORDER-SLIM);
    border-radius: 50%;
    padding: .32rem;
    font-size: var(--FS-MM);
  }
  
  .navBar-links_heading--logoImg {
  align-self: center;
  }


  /*NAV BAR LINKS*/
.navbar-link-item--ul{
    text-transform: uppercase;
    padding: 3rem .5rem;
    font-size: var(--FS-S);
}

.navbar-link-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    border: 1px solid var(--HR);
    margin-block: 7px;
}


.navbar-link-item--active a{
  color: var(--GOLD);
}

.navbar-link-item:not(:first-child) a{
  transition: color 0.3s ease;
}

.navbar-link-item:not(:first-child) a:hover,
.navbar-link-item:not(:first-child) a:focus{
  color: var(--GOLD);
}

/* ----------------------------NAVBAR FOOTING--------------------- */
.navBar-links_footing{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 2rem;
}

.navBar-links_footing_square{
  width: 15px;
  height: 15px;
  border: var(--G-BORDER-SLIM);
  transform: rotate(50deg);
  color: var(--GOLD);
}

.navBar-links_footing_heading{
font-family: var(--FF-FORUM);
font-size: var(--FS-MM);
}

.navBar-links_footing_texts{
line-height: 2;
font-size: var(--FS-M);
opacity: 0.77;
}


.navBar-links_footing_booking--phone{
  font-size:var(--FS-M) !important;
}
/* --------------------HOVER UNDERLINE---------------- */
.hover-underline{
  position: relative;
  max-width: max-content;
letter-spacing: 2px;
}

.hover-underline::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-block: 1px solid var(--GOLD);
  transform: scaleX(0.2);
  opacity: 0;
  transition: 600ms ease;
}

.hover-underline:is(:hover, :focus-visible)::after{
  transform: scaleX(1);
  opacity: 1;
}


/* LANDING PAGE TOP BAR */
.landingPage-topBar{
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .77rem;
}

.landingPage-topBar--addressTime,
.landingPage-topBar--phoneMail{
  display: flex;
  gap: 2.5rem;
}

.topbar-icons-texts{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.topbar-hr{
  position: absolute;
width: 100%;
top: 3rem;
border: 1px solid var(--HR);
} 

/* DESKTOP ARROW HEADS */ 
.landingPageArrHead{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem;
  }
  
  .desktopArrHead{
  width: 20px;
  height: 20px;
  border: var(--G-BORDER-SLIM);
  transform: rotate(50deg);
  display: grid;
  place-content: center;
  padding: 1rem;
  color: var(--GOLD);
  transition: background 600ms ease;
  }
  
  .desktopArrHead span{
    transform: rotate(-50deg);
  }

.desktopArrHead:hover,
.desktopArrHead:focus,
.desktopArrHead:active
{
  background: var(--L-GOLD);
  color: var(--SM0KY-BLACK-1);
}

/* LANDING PAGE NAV BAR */ 
.landingPage-navBar{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 3vw;
}



.landingPage-navBar--menuBar_findTableBtn{
background-color: var(--GOLD);
color: var(--EERIE-BLACK);
font-weight: 700;
}

.landingPage-navBar--menuBar{
  display: flex;
  align-items: center;
 gap: 2rem;
 flex-wrap: wrap;
}



/* MENU BAR DESIGN */
.landingPage-navBar--menuBar_openMenu{
  display: flex;
  flex-direction: column;
  gap: .7rem;
  }

  
.line{
  width: 30px;
  height: 2px;
  background-color: var(--WHITE);
  transform-origin: left;
  animation: menuBar 400ms ease-in-out alternate infinite;
}

.line-2{
  animation-delay: 150ms;
}

.line-3{
  animation-delay: 350ms;
}


/* HERO PAGE ROTATING SQUARE */
.hero-page-rotatingSquare{
  position: absolute;
  bottom: 0;
 right:0;
 margin-inline:3rem;
 margin-block-end: 10rem;
}

.hero-page-rotatingSquare::before{
content: '';
position: absolute;
width: 100%;
height: 100%;
border: 1px solid var(--GOLD);
position: absolute;
animation: rollingSquare 8s linear infinite;
}

.hero-page-rotatingSquare--section{
  background-color: var(--GOLD);
  padding:.75rem .95rem;
  display: flex;
 align-items: center;
justify-content: center;
flex-direction: column;

}

.hero-page-rotatingSquare--sect_img{
 width: 2.5rem;
 height: auto; 
}

.hero-page-rotatingSquare--sect_img img{
width: 100%;
height: auto;
}

.hero-page-rotatingSquare--sect_text{
  color: var(--EERIE-BLACK);
  font-size: 0.8rem;
  letter-spacing: 3px;
}





/* MAIN STYLING */
main{
  width: 100%;
}

/* FIXED ARROW BUTTON */
.fixed-arrow-btn{
  position: fixed;
  background: var(--GOLD);
  color: var(--EERIE-BLACK);
  bottom: 0;
  right: 0;
  margin-inline:3rem;
  margin-block-end: 3rem;
  transition: all 600ms ease;
  font-size: 3.5rem;
  border-radius: 50%;
  padding: .5rem;
  border: 2px solid var(--EERIE-BLACK);
  z-index: 100;
}

.fixed-arrow-btn ion-icon{
transition: transform 800ms linear;
}

.fixed-arrow-btn ion-icon:is(:hover, :focus, :active){
  transform: translateY(-5px);
}

.fixed-arrow-btn:is(:hover, :focus-visible, :active){
  background: var(--EERIE-BLACK);
  border: 2px  solid var(--GOLD);
  color:var(--GOLD);
}

.hideFixed{
  opacity: 0;
}


/* SERVICE STYLING */
.service{
 position: relative;
 width: 100%;
 padding:5rem 2rem;
 z-index: 1;
 background: var(--SM0KY-BLACK-1);
}

.service-subTexts{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 2rem;
margin-bottom: 5rem;
}

.service-subTexts-texts{
font-size: var(--FS-M);
line-height: 1.8;
letter-spacing: 1px;
}

.service--container{
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2.5rem;
}


.service--container_card_img{
  position: relative;
width: 100%;
height: auto;
margin-bottom: 3rem;
overflow: hidden;
border-radius: 20px;
border: solid var(--GOLD) 4px;
}
 
.service--container_card_img img{
width: 100%;
height: 100%;
transition: transform 800ms ease;
}

.service--container_card_img:hover img{
  transform: scale(1.12);
}


.service--container_card_img::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .5), transparent);
  /* background: rgba(255, 255, 255, .3); */
  height: 100%;
  width: 100%;
  left: -1000px;
  transform: skewX(-40deg);
  z-index: 1;
}

.service--container_card_img:is(:hover, :focus-visible)::before{
animation: shine 600ms ease;
}

.service--container_card_text{
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
align-items: center;
gap: 1.5rem;
margin-top: 1.5rem;
}

.service--container_card_textA{
font-family: var(--FF-FORUM);
font-size: 2rem;
}

.service--container_card_textB{
  color: var(--GOLD);
}

.service-img-shapes{
position: absolute;
top: 0;
right: 0;
display: flex;
height: 100%;
width: 100%;
flex-direction: column;
justify-content: space-between;
z-index: -1;
overflow: hidden;
}

.service-img-shapes-img-1{
align-self: flex-end;
}

.service-img-shapes-img img{
  animation: smoothScale 9s linear infinite;
}


/*--------------------------ABOUT US------------------------ */
.about-us{
  position: relative;
 background: var(--SM0KY-BLACK-3);
 width: 100%;
 padding:7rem 2rem;
padding-bottom: 15rem;
 display: grid;
 gap: 3rem;
 overflow: hidden;
 z-index: 1;
}

.about-us-texts{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
gap: 2rem;
}

.about-us-texts-bookings_heading{
letter-spacing: 2px;
margin-bottom: .7rem;
}

.about-us-texts-bookings_phone{
  font-size: var(--FS-MM);
  letter-spacing: 2px;
  color: var(--GOLD);
}

.about-us-texts-bookings_btn{
  margin-top: 2rem;
  margin-inline: auto;
}

/* --------------ABOUT US IMAGES------------------- */
.about-us-imgs{
  position: relative;
  width: 100%;
  height:400px;
  margin-top: 5rem;
}

.about-us-imgs-1{
width: 100%;
height: 100%;
object-fit: cover;
margin-inline-start: 1rem;
}

.about-us-imgs_img{
  position: absolute;
}

.about-us-imgs-2{
bottom: -50px;
background: url(/assets/images/img-pattern.svg);
background-repeat: repeat;
width: 150px;
height: 220px;
display: grid;
place-content: center;
margin-left: 1rem;
}

.about-us-imgs-2 img{
width: 180px;
height: auto;
}

.about-us-imgs-3{
 top: -50px;
  right: 0;
 /* margin-inline-end: 1rem; */
}

.about-us-imgs-3 img{
width: 130px;
/* height: auto; */
padding: .35rem;
}

.about-us-imgs-3::before{
content: url('/assets/images/badge-2-bg.png');
position: absolute;
top: -3px;
animation: rollingImg 7s linear infinite;
transform: translateX(50%);
}

.about-us-imgs-4{
 width: 100%;
bottom: 0;
 z-index: -1;
 margin-block-end: 20rem;
 margin-inline-start: 3rem;
}

.about-us-imgs-4 img{
  width: 200px;
  height: auto;
  animation: smoothScale 9s linear infinite;
}


/************************SPECIAL DISH***********************/
.special-dish{
 background: var(--SM0KY-BLACK-1);
  width: 100%;
}

.special-dish_img{
width: 100%;
}

.special-dish_img img{
  width: 100%;
  height: 350px;
  object-fit: cover;
}




.special-dish_texts{
padding: 5rem 2rem;
width: 100%;
display: flex;
justify-content: center; 
align-items: center;
flex-direction: column;

}

.special-dish_texts--badgeHeading{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.special-dish_texts--badge{
  width: 30px;
  height: 50px;
}

.special-dish_texts--badge img{
  width: 100%;
  height: auto;
}

/* .special-dish_texts--heading::before{
content: url('/assets/images//badge-1.png');
display: block;
margin-inline-start: 6rem;
margin-block-end: 7px;
} */

.special-dish_texts--texts{
text-align: center;
}
 
.special-dish_subTexts-subHeading{
  padding: 2rem;
}


.special-dish_texts_price{
margin-top: 2rem;
}

.special-dish_texts_price--price{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.line-thru_text{
  text-decoration: line-through;
}

.special-dish_texts_price--price > :first-child{
  font-size: 1.5rem;
opacity: 0.77;
}

.special-dish_texts_price--price > :last-child{
  color: var(--GOLD);
  font-size: var(--FS-DeskM);
}


/***********************SPECIAL DISH************************ */
.menus{
  background: var(--SM0KY-BLACK-3);
  padding: 3rem 2rem;
}

.menus-headings{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
}











































.hidden{
  display: none;
}


/* ANIMATIONS */
/* ROLLING CIRCLE ANIMATION */
@keyframes rollingCircle {
  0%{
transform: rotate(0);
  }

  100%{
    transform: rotate(1turn);
  }
}

/* ROLLING SQUARE */
@keyframes rollingSquare{
  0%{
    transform: rotate(0);
      }
      100%{
        transform: rotate(1turn);
      }
}

@keyframes rollingImg {
  0%{
    transform: rotate(0deg);
      }
      100%{
        transform: rotate(360deg);
      }
}

/* FADING TEXT ANIMATION */
@keyframes fadingText {
  0%{
   background-image: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.574) );
  } 
 50%{
   background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.026), rgb(0, 0, 0), rgba(0, 0, 0, 0.082) );
 }
  100%{
   background-image: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) );
  }
 }

/*LANDING PAGE ANIMATION */
@keyframes landingPage {
  100%{
 top: 0;
 z-index: 1;
  }
}

/* HERO PAGE TEXT ANIMATION */
@keyframes text {
  0%{
    transform: translateY(20px); 
  }
  100%{
    transform: translateY(0px);
  }
}

/* HERO PAGE IMAGE ANIMATION */
@keyframes smooth {
  0%{
    transform: scale(1);
  }

  100%{
    transform: scale(1.15);
  }
}

/*SERVICE SHAPE IMAGES STYLING*/
@keyframes smoothScale {
  0%{
    transform: scale(1);
  }

  100%{
    transform: scale(1.50);
  }
}

/* MENU BAR ANIMATION */
@keyframes menuBar {
  0%{
    transform: scaleX(1);
  }
  100%{
   transform: scaleX(0.5);
  }
}

/* IMAGE SHINING EFFECT */
@keyframes  shine {
  /* 0%,100% {
    left:-500px;
  }
50%{
  left: 100%;
} */
0% {
  left:-1000px;
}
100%{
left: 100%;
}
}


/* MEDIA QUERIES */
@media screen and (max-width:850px) {
  .landingPage-topBar{
    display: none;
  }

  .topbar-hr{
    display: none;
  }

  .landingPage-navBar--menuBar_findTableBtn{
    display: none;
  }
  .landingPageArrHead{
    display: none;
  }

}

@media screen and (min-width: 769px) {
  /* .mobile-nav{
    display: none;
  } */
  .navBar-links{
    width: 30%;
  }

  .service-subTexts-textsW{
    width: 70%;
    }
    
   
    .service--container{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 100%);
    }

    .service--container_card-2{
     align-self: end;
    }

    .heroTexts--normTexts{
      letter-spacing: 2px;
      font-size: var(--FS-M);
    }

    .about-us{
      grid-template-columns: 1fr 1.5fr;
    }

    .about-us-imgs{
      margin-top: 0;
      height:100%;
    }
    .about-us-texts{
      align-self: center;
    }

    .about-us-imgs-2{
      width: 250px;
      height: 400px;
      }
      
      .about-us-imgs-2 img{
      width: auto;
      height: auto;
      }
.about-us-texts-texts{
  font-size: 1.7rem;
}

.heroTexts--heading{
  font-size: var(--FS-MM);
}

.service-subTexts-texts{
  font-size: var(--FS-DeskM);
}

.heroTexts--cursiveTexts{
  font-size: var(--FS-XL);
}
}





@media screen and (max-height: 600px){
.navBar-links_footing,
.hero-page-rotatingSquare{
  opacity: 0;
}
}
/* JUNK
display: grid;
place-content: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); 
display: flex;
flex-direction: column;
align-items: center;
text-align: center; */
/* text-align: center; */



